#loginPane{
	-fx-background-image: url("background.png");
	
}
#userName{
	-fx-background-color:#383838;
	-fx-text-fill:#ffffff;
	-fx-prompt-text-fill: grey;
}

.button {
	-fx-font-family: "Bebas Neue Regular";
	-fx-background-color: #383838;
	-fx-text-fill:  #ffffff;
	-fx-font-size: 15px;
}



.button:pressed {
	-fx-border-color: white;
	-fx-border-width: 1;
}



.dialog-pane   {
	-fx-background-color:  #1e1e1e;
	-fx-fill: white;
	-fx-font-family: "Bebas Neue Regular";
	
	
}
.dialog-pane:header  .header-panel   {
	-fx-background-color:  #1e1e1e;
	-fx-font-family: "Bebas Neue Regular";
		-fx-font-size: 18px;
		
}

.dialog-pane .label{
	-fx-text-fill: white;
	-fx-font-family: "Bebas Neue Regular";
		-fx-font-size: 15px;
}

.text-area .content{
	-fx-background-color:#000000;
	-fx-text-fill: #ea2e49;
	-fx-border-width: 0;
	
}

.text-area {
	-fx-background-color:#000000;
	-fx-border-width: 0;
	-fx-text-fill: #ea2e49;
	-fx-font-family: "System";
	
	
}

.text-area .scroll-bar {
    -fx-background-color:#101010;
}

.text-area .scroll-bar .thumb {
    -fx-background-color:#1e1e1e;
   
}
.text-area .scroll-bar.increment-arrow {
    -fx-background-color:#ea2e49;
 }
  
.text-area .scroll-bar .decrement-arrow {
    -fx-background-color:#ea2e49;
  }
  
 .text-area > .corner {
    -fx-background-color: #101010;
}
